{% extends 'analysis/base.html' %}
{% load static %}

{% block title %}
メールアドレスの変更
{% endblock %}

{% block content %}
<div class="main-contents">
    <div class="row">
        <div class="col-8">
            <div class="row justify-content-center">
                <div class="col-6 contact_done_wrapper">
                    <p class="contact_done_title">お問い合わせ完了</p>
                    <p class="contact_done_content">事務局へのお問い合わせを完了しました。</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}