{% extends 'analysis/base.html' %}
{% load static %}

{% block title %}
メールアドレスの変更
{% endblock %}

{% block content %}
<div class="main-contents">
    <div class="row">
        <div class="col-8">
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="setting-content">
                        <p class="email_change_title">メールアドレスの変更</p>
                        <p>確認メールに記載されているリンクをクリックすると、アドレスが変更されます。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}