{% extends 'analysis/base.html' %}
{% load static %}

{% block title %}
マイページ
{% endblock %}

{% block content %}
<div class="mypage_content_wrapper">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-3 mt-4">
                    <button type="button" class="btn btn-info profile-edit" data-toggle="modal" data-target="#userlangModal">
                        <i class="fas fa-plus"></i>新規投稿
                    </button>
                </div>
            </div>

            <!-- Show a Modal to UPLOAD -->
            <div class="modal fade" id="userlangModal" tabindex="-1" role="dialog" aria-labelledby="userlangModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="modal-title" id="userlangModalLabel">新規ユーザー情報追加</div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body upload_content">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label for="obj_name" class="col-2 col-form-label">言語</label>
                                    <div class="col-4">
                                        {{ form.language }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="obj_name" class="col-2 col-form-label">事業者名</label>
                                    <div class="col-4">
                                        {{ form.username }}
                                    </div>
                                </div>
                                <!--
                                <div class="form-group row">
                                    <label for="obj_description" class="col-2 col-form-label">分類</label>
                                    <div class="col-8">
                                        {{ form.major_category }}
                                    </div>
                                </div>
                                -->
                                <div class="form-group row">
                                    <label for="obj_description" class="col-2 col-form-label">説明</label>
                                    <div class="col-8">
                                        {{ form.self_intro }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="obj_description" class="col-2 col-form-label">所在地</label>
                                    <div class="col-8">
                                        {{ form.address_prefecture }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="obj_description" class="col-2 col-form-label"></label>
                                    <div class="col-8">
                                        {{ form.address_city }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="obj_description" class="col-2 col-form-label"></label>
                                    <div class="col-8">
                                        {{ form.address_street }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="obj_description" class="col-2 col-form-label">料金</label>
                                    <div class="col-8">
                                        {{ form.entrance_fee }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="obj_description" class="col-2 col-form-label">営業時間</label>
                                    <div class="col-8">
                                        {{ form.business_hours }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="obj_description" class="col-2 col-form-label">休み</label>
                                    <div class="col-8">
                                        {{ form.holiday }}
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <button type="submit" class="btn btn-primary justify-content-center">送信</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Show a Modal to EDIT -->
            <div class="modal fade" id="userlangeditModal" tabindex="-1" role="dialog" aria-labelledby="userlangModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="modal-title" id="userlangModalLabel">投稿の編集</div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body upload_content">
                            <form action="{% url 'analysis:userlang_edit'%}" method="POST">
                                {% csrf_token %}
                                <!-- Post exhibit_pk together with other contents -->
                                <input type="hidden" name="userlang_pk" value="">

                                <div class="form-group row">
                                    <label for="obj_name" class="col-2 col-form-label">言語</label>
                                    <div class="col-4">
                                        {{ form.language }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="obj_name" class="col-2 col-form-label">事業所名</label>
                                    <div class="col-4">
                                        {{ form.username }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="obj_description" class="col-2 col-form-label">説明</label>
                                    <div class="col-8">
                                        {{ form.self_intro }}
                                    </div>
                                </div>
                                <!--
                                <div class="form-group row">
                                    <label for="obj_description" class="col-2 col-form-label">分類</label>
                                    <div class="col-8">
                                        {{ form.major_category }}
                                    </div>
                                </div>
                                -->
                                <div class="form-group row">
                                    <label for="obj_description" class="col-2 col-form-label">説明</label>
                                    <div class="col-8">
                                        {{ form.self_intro }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="obj_description" class="col-2 col-form-label">所在地</label>
                                    <div class="col-8">
                                        {{ form.address_prefecture }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="obj_description" class="col-2 col-form-label"></label>
                                    <div class="col-8">
                                        {{ form.address_city }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="obj_description" class="col-2 col-form-label"></label>
                                    <div class="col-8">
                                        {{ form.address_street }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="obj_description" class="col-2 col-form-label">料金</label>
                                    <div class="col-8">
                                        {{ form.entrance_fee }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="obj_description" class="col-2 col-form-label">営業時間</label>
                                    <div class="col-8">
                                        {{ form.business_hours }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="obj_description" class="col-2 col-form-label">休み</label>
                                    <div class="col-8">
                                        {{ form.holiday }}
                                    </div>
                                </div>

                                <div class="row justify-content-center">
                                    <button type="submit" class="btn btn-primary justify-content-center">送信</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Show a Modal to DELETE -->
            <div class="modal fade" id="userlangdeleteModal" tabindex="-1" role="dialog" aria-labelledby="userlangModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="modal-title" id="userlangModalLabel">投稿の削除</div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body upload_content">
                            <form action="{% url 'analysis:userlang_delete'%}" method="POST">
                                {% csrf_token %}
                                <!-- Post exhibit_pk together with other contents -->
                                <input type="hidden" name="userlang_pk" value="">
                                <div class="row">
                                    削除しますか
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-3">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                                    </div>
                                    <div class="col-3">
                                        <button type="submit" class="btn btn-danger">削除</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-4 pl-5">
                    <img class="thumbnail img-fluid" src="{{ user.thumbnail_resized.url }}">
                </div>
                <div class="col-8">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row" class="pl-0">事業者名</th>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <th scope="row" class="pl-0">登録メールアドレス</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th scope="row" class="pl-0">電話番号</th>
                                <td>{{ user.telephone }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <a href="{% url 'analysis:setting' user.pk %}">
                            <button type="button" class="btn btn-info profile-edit">
                                <i class="fas fa-edit"></i>基本情報編集
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="lang_list_wrapper">
                <table class="table lang_register_list">
                    <thread>
                        <tr>
                            <th class="table_check"></th>
                            <th class="table_lang">言語</th>
                            <th class="table_name">名称</th>
                            <th class="table_desc">説明</th>
                            <th class="table_remove"></th>
                            <th class="table_edit"></th>
                        </tr>
                    </thread>
                    <tbody>
                        <tr class="user_lang_list">
                            <td><div class="form-check"><input class="form-check-input" type="checkbox" value=""></div></td>
                            <td>日本語</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.self_intro | linebreaksbr | urlize | truncatechars_html:50 }}</td>
                            <td>
                                <a href="{% url 'analysis:setting' user.pk %}">
                                <button type="button" id="exhibit_edit" class="btn btn-info ex_edit_btn" data-toggle="modal" data-target="#editModal">
                                    <i class="fas fa-edit"></i>
                                </button>
                                </a>
                            </td>
                            <td></td>
                        </tr>
                        {% for userlang in userlang_list %}
                        <tr class="user_lang_list">
                            <td><div class="form-check"><input class="form-check-input" type="checkbox" value=""></div></td>
                            <td>{{ userlang.language }}</td>
                            <td>{{ userlang.username }}</td>
                            <td>{{ userlang.self_intro | linebreaksbr | urlize | truncatechars_html:50 }}</td>
                            <td>
                                <div class="hidden" style="display:none">{{ userlang.pk }}</div>
                                <button type="button" id="exhibit_edit" class="btn btn-info userlang_edit_btn" data-toggle="modal" data-target="#userlangeditModal">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </td>
                            <td>
                                <div class="hidden" style="display:none">{{ userlang.pk }}</div>
                                <button type="button" id="exhibit_delete" class="btn btn-danger userlang_delete_btn" data-toggle="modal" data-target="#userlangdeleteModal">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- 
            <table class="table mypage_detail_table">
                <tbody>
                    <tr>
                        <th scope="row" class="mypage_detail_title">分類項目</th>
                        <td class="mypage_detail_content">{{ user.major_category }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="mypage_detail_title">所在地</th>
                        <td class="mypage_detail_content">{{ user.address }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="mypage_detail_title">電話番号</th>
                        <td class="mypage_detail_content">{{ user.telephone }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="mypage_detail_title">料金</th>
                        <td class="mypage_detail_content">{{ user.entrance_fee }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="mypage_detail_title">祝祭日</th>
                        <td class="mypage_detail_content">{{ user.holiday }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="mypage_detail_title">営業時間</th>
                        <td class="mypage_detail_content">{{ user.business_hours }}</td>
                    </tr>
                </tbody>
            </table>
            -->
        </div>
        <div class="col-4">
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
$(function(){
    $('.userlang_edit_btn').on('click',function(e){
        e.preventDefault();
        var that = this;
        userlang_pk = $(that).prev('.hidden').text();

        // AJAX
        $.ajax({
            url: "{% url 'analysis:userlang_edit_ajax' %}",
            type: "get",
            dataType: "json",
            data:{
                "userlang_pk":userlang_pk,
            },
            success: function(data){
                console.log(data);
                $('#userlangeditModal').find('input[name="userlang_pk"]').val(data.userlang_pk);
                $('#userlangeditModal').find('#userlang_laguage').val(data.userlang_language);
                $('#userlangeditModal').find('#userlang_username').val(data.userlang_username);
                $('#userlangeditModal').find('#userlang_self_intro').val(data.userlang_self_intro);
                //$('#userlangeditModal').find('#userlang_major_category').val(data.userlang_major_category);
                $('#userlangeditModal').find('#userlang_address').val(data.userlang_address);
                $('#userlangeditModal').find('#userlang_entrance_fee').val(data.userlang_entrance_fee);
                $('#userlangeditModal').find('#userlang_business_hours').val(data.userlang_business_hours);
                $('#userlangeditModal').find('#userlang_holiday').val(data.userlang_holiday);
            },
        })
    });
});


$(function(){
    $('.userlang_delete_btn').on('click',function(e){
        e.preventDefault();
        var that = this;
        userlang_pk = $(that).prev('.hidden').text();
        $('#userlangdeleteModal').find('input[name="userlang_pk"]').val(userlang_pk);
    })
});

</script>
{% endblock %}