{% extends 'analysis/register_base.html' %}

{% block title %}
パスワードの再設定完了
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <p>アプリロゴ</p>
            <div class="signup-wrapper">
                <p class="title">パスワードの再設定完了</p>
                <p>
                    パスワード再設定用を完了しました。<br>
                    <a href="{% url 'analysis:login' %}">ログイン</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}