{% extends 'analysis/register_base.html' %}

{% block title %}
パスワードの再設定
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <p>アプリロゴ</p>
            <div class="signup-wrapper">
                <p class="title">パスワードの再設定</p>
                <p>
                    パスワード再設定用のメールを送信しました。<br>
                    メールに記載されているリンクから再設定を行ってください。
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}